{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'sale/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page">
        <div class="top-bar">
            <ul class="top-bar-ul-left">
                <li><a href="{% url 'home' %}">MySite</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'help' %}">Помощь</a></li>
                <li><a href="{% url 'create_product' %}">Разместить объявление</a></li>
            </ul>
            <ul class="top-bar-ul-right">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'user_page' %}"><i class="fa fa-user"></i></a></li>
                <li><a href="{% url 'logout' %}">Выход</a></li>
                {% else %}
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                <li><a href="{% url 'login' %}">Авторизация</a></li>
                {% endif %}
            </ul>
        </div>
    
        <div class="content">
            <div class="side-bar">
                <ul>
                    {% for category in categories %}
                    <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="main-content">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    
</body>

</html>