<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ product.title }}</h2>
    <p>Продавец: {{ product.author }}</p>
    {% if product.image %}
        {{ product.image }}
    {% endif %}
    <p>Категория: {{ product.category }}</p>
    <p>{{ product.description }}</p>
    <p>{{ product.date }}</p>
    {% if request.user == product.author %}
        <a href="{% url 'delete_product' product.pk %}">Delete</a>
        <a href="{% url 'update_product' product.pk %}">Update</a>
    {% endif %}
</body>
</html>