{% extends 'sale/base.html' %} 

{% block body %}

<div class="user-page">
    <div class="center-box">
        <h2>{{request.user.username}}</h2>
        <h2>Опубликованные товары:</h2>
        
        {% if products %}
        <ul>
            {% for product in products %}
            <li>
                <a href="{{ product.get_absolute_url }}">
                    <div class="product">
                        <div class="image-product">
                            {% if product.image %}
                            <img class="image-product" src="{{ product.image.url }}" alt="image">
                            {% else %}
                            <img class="image-product" src="/media/images/no-image.jpg" alt="image">
                            {% endif %}
                        </div>
                        <div class="description-product"><h2>{{ product.title }}</h2>
                                                         <b>{{ product.price }} ₽</b>
                                                         <p>{{ product.description|truncatewords:20 }}</p>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Вы ничего не публиковали</p>
        {% endif %}
    </div>
</div>

{% endblock %}
